@{
    /**/

    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>实验耗材后台管理系统</title>
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>

    <script>

        function FrameWH() {
            var h = $(window).height() - 41 - 10 - 60 - 10 - 44 - 10;
            $("iframe").css("height", h + "px");
        }
        layui.use('element', function () {
            var $ = jQuery = layui.jquery;
            var layer = layui.layer;
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            var active = {
                tabAdd: function (title, url, id) {
                    //新增一个Tab项
                    element.tabAdd('demo',
                        {
                            title: title //用于演示
                            ,
                            content: '<iframe class="layui-layout-body" data-frameid="' +
                                id +
                                '" frameborder="0" name="content" scrolling="yes" frameborder="yes" width="100%" height="100%" src="' +
                                url +
                                '"></iframe>',
                            id: id //实际使用一般是规定好的id，这里以时间戳模拟下
                        });
                    //CustomRightClick(id);//绑定右键菜单
                    FrameWH();//计算框架高度
                }
                , tabChange: function (id) {
                    //切换到指定Tab项
                    element.tabChange('demo', id); //切换到：用户管理
                    $("iframe[data-frameid='" + id + "']")
                        .attr("src", $("iframe[data-frameid='" + id + "']").attr("src")); //切换后刷新框架
                }
                , tabDelete: function (id) {
                    element.tabDelete("demo", id);//删除
                }
                , tabDeleteAll: function (ids) {//删除所有
                    $.each(ids,
                        function (i, item) {
                            element.tabDelete("demo", item);
                        });
                }
            };

            $(".layui-side-scroll .site-demo-active").click(function () {
                var dataid = $(this);
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    active.tabAdd(dataid.attr("data-title"), dataid.attr("data-url"), dataid.attr("data-id"));
                } else {
                    var isData = false;
                    $.each($(".layui-tab-title li[lay-id]"),
                        function () {
                            if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                                isData = true;
                            }
                        });
                    if (isData == false) {
                        active.tabAdd(dataid.attr("data-title"), dataid.attr("data-url"), dataid.attr("data-id"));
                    }
                }
                active.tabChange(dataid.attr("data-id"));
            });
        });
    </script>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">实验耗材后台管理系统</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll" lay-filter="bodyTree">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">审批信息</a>
                        <dl class="layui-nav-child">
                            <dd><a data-url="..\Apply\Borrow" data-id="01" data-title="借用审批" href="#" class="site-demo-active" data-type="tabAdd">借用审批</a></dd>
                            <dd><a data-url="..\Apply\Buy" data-id="02" data-title="采购审批" href="#" class="site-demo-active" data-type="tabAdd">采购审批</a></dd>
                            <dd><a data-url="..\Apply\InComing" data-id="03" data-title="入库审批" href="#" class="site-demo-active" data-type="tabAdd">入库审批</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">实验器材信息</a>
                        <dl class="layui-nav-child">
                            <dd><a data-url="..\Material\Index" data-id="07" data-title="器材列表" href="#" class="site-demo-active" data-type="tabAdd">器材列表</a></dd>
                            <dd><a data-url="..\Type\Index" data-id="08" data-title="种类管理" href="#" class="site-demo-active" data-type="tabAdd">种类管理</a></dd>
                            <dd><a data-url="..\Company\Index" data-id="09" data-title="供应商信息" href="#" class="site-demo-active" data-type="tabAdd">供应商信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">库存管理</a>
                        <dl class="layui-nav-child">
                            <dd><a data-url="..\Stock\NeedBuy" data-id="13" data-title="需购买" href="#" class="site-demo-active" data-type="tabAdd">需购买</a></dd>
                            <dd><a data-url="..\Stock\SelfApplyInComing" data-id="14" data-title="采购申请" href="#" class="site-demo-active" data-type="tabAdd">采购申请</a></dd>
                            <dd><a data-url="..\Stock\CanOutComing" data-id="15" data-title="可出库" href="#" class="site-demo-active" data-type="tabAdd">可出库</a></dd>
                            <dd><a data-url="..\Stock\CanInComing" data-id="16" data-title="可入库" href="#" class="site-demo-active" data-type="tabAdd">可入库</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">系统设置</a>
                        <dl class="layui-nav-child">
                            <dd><a data-url="..\Authority\Teacher" data-id="10" data-title="用户管理" href="#" class="site-demo-active" data-type="tabAdd">用户设置</a></dd>
                            <dd><a data-url="..\Authority\Action" data-id="11" data-title="页面管理" href="#" class="site-demo-active" data-type="tabAdd">页面设置</a></dd>
                            <dd><a data-url="..\Authority\Role" data-id="12" data-title="角色管理" href="#" class="site-demo-active" data-type="tabAdd">角色设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">统计信息</a>
                        <dl class="layui-nav-child">
                            <dd><a data-url="#" data-id="13" data-title="借用记录" href="#" class="site-demo-active" data-type="tabAdd">借用记录</a></dd>
                            <dd><a data-url="#" data-id="14" data-title="采购记录" href="#" class="site-demo-active" data-type="tabAdd">采购记录</a></dd>
                            <dd><a data-url="#" data-id="15" data-title="违规记录" href="#" class="site-demo-active" data-type="tabAdd">违规记录</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-tab layui-tab-card" lay-filter="demo" lay-allowclose="true" style="margin: 0">
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content"></div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</body>
</html>