@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BeforeLayout.cshtml";
}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="item active">
                <img class="experiment" src="~/Image/实验室1.jpg" alt="first slide" />
            </div>
            <div class="item">
                <img class="experiment" src="~/Image/实验室2.jpg" alt="Second slide" />
            </div>
            <div class="item">
                <img class="experiment" src="~/Image/实验室3.jpg" alt="Third slide" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead><tr><td><h2>实验安全</h2></td></tr></thead>
                <tbody>
                    <tr>
                        <td><a class="btn btn-link">使用实验耗材管理系统须知</a></td>
                        <td class="text-right" style="padding-top:15px">2018-10-19</td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-link">化学实验室安全须知</a></td>
                        <td class="text-right" style="padding-top:15px">2018-10-19</td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-link">物理实验室安全须知</a></td>
                        <td class="text-right" style="padding-top:15px">2018-10-19</td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-link">生物实验室安全须知</a></td>
                        <td class="text-right" style="padding-top:15px">2018-10-19</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 ">
            <table class="table">
                <thead>
                    <tr><td><h2>公告</h2></td></tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="btn btn-link">关于实验耗材管理平台启用的公告</a></td>
                        <td class="text-right" style="padding-top:15px">2018-10-19</td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-link">关于实验耗材管理系统管理人员变动的公告</a></td>
                        <td class="text-right" style="padding-top:15px">2018-10-19</td>
                    </tr>
                    <tr>
                        <td><a class="btn btn-link">管理实验耗材管理系统停用的公告</a></td>
                        <td class="text-right" style="padding-top:15px">2018-10-19</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>