@model Dictionary<string, List<ZERO.Material.Model.Material_Info>>

@{
    ViewBag.Title = "实验器材";
    Layout = "~/Views/Shared/BeforeLayout.cshtml";
}
<div class="container" style="padding-top: 10px">

    @foreach (var key in Model.Keys)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" style="font-weight: bold">
                    @Html.ActionLink(key, "Search", "Zero", new { @material = "", @company = "", @type = key, @index = 0 }, new { @style = "color:black" })

                    @foreach (var item in ViewBag.childtypes[key])
                    {
                        <span style="font-size: 10px; font-weight: normal">&nbsp; @Html.ActionLink(key, "Search", "Zero", new { @material = "", @company = "", @type = item, @index = 0 }, new { @style = "color:black" })&nbsp;</span>
                    }
                </h3>
            </div>
            <div class="panel-body">
                <table style="width: 100%">
                    <tbody>
                        @for (int i = 0; i < 2; i++)
                        {
                            <tr>
                                @for (int j = Model[key].Count / 2 * i; j < Model[key].Count / 2 * (i + 1); j++)
                                {
                                    <td style="width: 20%">
                                        <a href="MaterialInfo?id=@Model[key][j].Material_Id">
                                            <div style="text-align: center">
                                                <img width="100" height="100" src="@Url.Action("GetImage",new {@id=Model[key][j].Material_Id})" />
                                            </div>
                                            <div style="text-align: center">
                                                <strong> @Model[key][i].Material_Name.Replace("授权代理商", "").Replace("?", "™")</strong>
                                            </div>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>