@{
    ViewBag.Title = "申请成功";
    Layout = "~/Views/Shared/BeforeLayout.cshtml";
}

<div class="container">
    <p style="text-align: center; font-weight: bolder; font-size: 40px;color: darkslateblue">
        申请成功，请等待管理员审核······
    </p>
    <p style="text-align: center">
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='Index'">回到首页</button>
        <button type="button" class="btn btn-default btn-lg" onclick="location.href= 'MaterialInfos'">继续申请</button>
    </p>
</div>