@model ZERO.Material.Model.Material_Type

@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/layui")
    @Scripts.Render("~/bundles/layui")
    <script src="~/Scripts/Type/Index.js"></script>
</head>
<body>
    <div>
        <div class="dBody">
            <table id="baseTable" lay-filter="baseTable"></table>
        </div>
        <div id="baseTableToolBar" hidden="hidden">
            <button class="layui-btn layui-btn-normal" lay-event='Add'>添加种类</button>
            <button class="layui-btn layui-btn-normal" lay-event='open'>展开全部</button>
            <button class="layui-btn layui-btn-normal" lay-event='close'>关闭全部</button>
        </div>
        <div id="colToolBar" hidden="hidden">
            <button class="layui-btn layui-btn-xs" lay-event="Detail">详情</button>
            <button class="layui-btn layui-btn-xs" lay-event="Update">修改</button>
            <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="Delete">删除</button>
        </div>
    </div>
</body>
</html>