@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoAuthority</title>
    <style type="text/css">
        body {
            background: url(../../Image/403.gif) no-repeat top center;
            background-size: 100%
        }
    </style>
</head>

<body>
    <div>
    </div>
</body>
</html>