@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CanInComing</title>
</head>
<body>
    <div>
        <table id="canInComingTable" lay-filter="canInComing"></table>
    </div>

    <div id="tableCellBar" hidden>
        <button type="button" class="layui-btn layui-btn-xs" lay-event="confirmIn">确认入库</button>
    </div>
    <div id="tableTopBar" hidden>
        <button type="button" class="layui-btn layui-btn-normal" lay-event="allConfirmIn">全部确认入库</button>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/layui")
    @Scripts.Render("~/bundles/layui")
    <script>
        layui.use(['table', 'layer', 'form'],
            function () {
                var table = layui.table;
                var form = layui.form;

                var layer = layui.layer;
                var load = layer.load(1);

                /********************************************************** 筛选参数start *********************************************************/

                /********************************************************** 筛选参数end *********************************************************/
                /********************************************************* 时间选择器start *********************************************************/

                /********************************************************* 时间选择器end *********************************************************/
                /*********************************************************** 表格start *********************************************************/
                var tableOption = {
                    elem: "#canInComingTable",
                    //height: 100 %,
                    url: "CanInComingBuy",
                    loading: true,
                    defaultToolbar: false,
                    cellMinWidth: 50,
                    toolbar: "#tableTopBar",
                    page: true,
                    size: 'lg',
                    limits: [10, 20, 30, 40],
                    text: {
                        none: "未加载到相关数据"
                    },
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'Material_Id', title: '器材编号', sort: true },
                            { field: 'Material_Name', title: '器材名称' },
                            { field: 'Company_Name', title: '供应商' },
                            {
                                field: 'Last_Time',
                                title: '最终入库时间',
                                sort: true,
                                templet: "<div>{{layui.util.toDateString(d.Apply_Time, 'yyyy-MM-dd ')}}</div>"
                            },
                            { field: 'Material_Price', title: '器材价格(￥)' },
                            { field: 'Material_Count', title: '器材总量' },
                            { field: 'Material_RemainCont', title: '器材余量' },
                            { field: 'Apply_Count', title: '入库数量' },
                            { field: 'Material_CountUnit', title: "计量单位" },
                            { field: 'Material_Size', title: '器材规格' },
                            { field: 'Apply_Advice', title: '审核意见' },
                            { field: 'Head', title: "审核", toolbar: '#tableCellBar', fixed: 'right' }
                        ]
                    ],
                    done: function (res) {
                        layer.close(load);
                    }
                };
                table.render(tableOption);

                table.on('tool(canInComing)',
                    function (obj) {
                        var data = obj.data; //获得当前行数据
                        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

                        switch (layEvent) {
                            case 'confirmIn':
                                confirmInComing(new Array(data));
                        };
                    });

                table.on('toolbar(canInComing)',
                    function (obj) {
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch (obj.event) {
                            case 'allConfirmIn':
                                confirmInComing(checkStatus.data);
                        };
                    });
                /*********************************************************** 表格end *********************************************************/

                /*********************************************************** 表单start *********************************************************/
                form.render('select');
                form.on('select(status)',
                    function (obj) {

                    });

                /*********************************************************** 表单end *********************************************************/

                /*********************************************************** 自定义方法start *********************************************************/
                function reloadTable() {
                    table.reload('buyTable',
                        {
                            page: {
                                curr: 1
                            },
                            where: {
                                'status': status
                            }
                        });
                }

                function confirmInComing(dataList) {
                    var ajaxData = new Array();
                    dataList.forEach(function (dataItem) {
                        ajaxData.push({
                            Apply_Id: dataItem.Apply_Id,
                            ApplyType_Id: dataItem.ApplyType_Id ,
                            Apply_Count: dataItem.Apply_Count,
                            Apply_Status: dataItem.Apply_Status,
                            Apply_Advice: dataItem.Apply_Advice
                         });
                    });

                    $.ajax({
                        url: 'ConfirmInComing',
                        type: 'POST',
                        data: {"applyInfos":ajaxData},
                        success: function(data) {
                            if (data === "OK") {
                                layer.msg("确认成功");
                                table.reload('canInComingTable', tableOption);
                            } else {
                                layer.msg("确认失败");
                            }
                        }
                    });
                }

                String.prototype.format = function (args) {
                    var result = this;
                    if (arguments.length > 0) {
                        if (arguments.length == 1 && typeof args == "object") {
                            for (var key in args) {
                                if (args[key] != undefined) {
                                    var reg = new RegExp("({" + key + "})", "g");
                                    result = result.replace(reg, args[key]);
                                }
                            }
                        } else {
                            for (var i = 0; i < arguments.length; i++) {
                                if (arguments[i] != undefined) {
                                    //var reg = new RegExp("({[" + i + "]})", "g");//这个在索引大于9时会有问题，谢谢何以笙箫的指出

                                    var reg = new RegExp("({)" + i + "(})", "g");
                                    result = result.replace(reg, arguments[i]);
                                }
                            }
                        }
                    }
                    return result;
                };
                /*********************************************************** 自定义方法end *********************************************************/
            })
    </script>
</body>
</html>