@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action</title>
</head>
<body>
    <div>
        <div class="dBody">
            <table id="baseTable" lay-filter="baseTable"></table>
        </div>
        <div id="baseTableToolBar" hidden="hidden">
            <button class="layui-btn layui-btn-normal" lay-event='Add'>添加页面</button>
            <button class="layui-btn layui-btn-normal" lay-event='open'>展开全部</button>
            <button class="layui-btn layui-btn-normal" lay-event='close'>关闭全部</button>
        </div>
        <div id="colToolBar" hidden="hidden">
            <button class="layui-btn layui-btn-xs" lay-event="SetAuth">设置访问角色</button>
            <button class="layui-btn layui-btn-xs" lay-event="Update">修改</button>
        </div>
        <form class="layui-form" hidden id="setActionRole" style="margin-top: 50px">
            <div class="layui-input-block">
                @foreach (var item in ViewBag.roles)
                {
                    <input type="checkbox" name=@item.Id title=@item.Role_Name>
                }
            </div>
        </form>
    </div>

    <script type="text/html" id="del">
        <input type="checkbox" name="IsDel" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="del" {{ d.Del_Flag == true ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="isMenu">
        <input type="checkbox" name="IsMenu" value="{{d.Id}}" lay-skin="switch" lay-text="是|否" lay-filter="menu" {{ d.Is_Menu == true ? 'checked' : '' }}>
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/layui")
    @Scripts.Render("~/bundles/layui")
    <script>
        layui.config({
            base: '../Content/module/'
        }).extend({
            treetable: 'treetable-lay/treetable'
        }).use(['layer', 'table', 'treetable', 'form'], function () {
            var $ = layui.jquery;
            var table = layui.table;
            var layer = layui.layer;
            var form = layui.form;
            var treetable = layui.treetable;

            var renderTable = function () {
                layer.load(2);
                treetable.render({
                    treeColIndex: 1,          // treetable新增参数
                    treeSpid: -1,             // treetable新增参数
                    treeIdName: 'Id',       // treetable新增参数
                    treePidName: 'Menu_Id',     // treetable新增参数
                    treeDefaultClose: true,   // treetable新增参数
                    treeLinkage: true,       // treetable新增参数
                    elem: '#baseTable',
                    url: 'GetMaterialAction',
                    toolbar: '#baseTableToolBar',
                    cols: [[
                        { field: 'Id', title: '页面编号' },
                        { field: 'Action_Name', title: '页面名称' },
                        { field: 'Action_Url', title: '页面链接' },
                        { field: 'Http_Method', title: '访问方法' },
                        { field: 'Is_Menu', title: '是否菜单', templet: "#isMenu" },
                        { field: 'Del_Flag', title: '删除标志', templet: "#del" },
                        { field: 'Action_Remark', title: '备注' },
                        { toolbar: '#colToolBar', title: '操作' }
                    ]],
                    page: false,
                    done: function () {
                        layer.closeAll('loading');
                    }
                });
            };

            renderTable();

            table.on('toolbar(baseTable)',
                function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case "Add":
                            layer.open({
                                title: "添加页面",
                                type: 2,
                                shadeClose: true,
                                shade: false,
                                //                                maxmin: true, //开启最大化最小化按钮
                                area: ["100%", "100%"],
                                content: "AddAction?Id=",
                                end: function () {
                                    renderTable();
                                }
                            });
                            break;
                        case 'open':
                            treetable.expandAll('#baseTable');
                            break;
                        case 'close':
                            treetable.foldAll('#baseTable');
                            break;
                    };
                });

            table.on("tool(baseTable)",
                function (obj) {
                    var data = obj.data;
                    switch (obj.event) {
                        case "SetAuth":
                            $.ajax({
                                url: 'GetActionRole',
                                type: 'POST',
                                data: { "id": data["Id"] },
                                success: function (data) {
                                    var roles = JSON.parse(data);
                                    if (roles.length > 0) {
                                        for (var i = 0; i < $('#setActionRole :checkbox').length; i++) {
                                            $('#setActionRole :checkbox')[i].checked = false;
                                        }
                                        roles.forEach(function (item) {
                                            var selector = "#setActionRole :checkbox[title='" + item + "']";
                                            $(selector)[0].checked = true;
                                        });
                                    } else if (roles.length === 0) {
                                        for (var i = 0; i < $('#setActionRole :checkbox').length; i++) {
                                            $('#setActionRole :checkbox')[i].checked = false;
                                        }
                                    }

                                    form.render();
                                }
                            });
                            layer.open({
                                title: "设置权限",
                                type: 1,
                                shadeClose: true,
                                shade: false,
                                //                                    maxmin: true, //开启最大化最小化按钮
                                btn: ["确定", "取消"],
                                area: ["500px", "200px"],
                                content: $('#setActionRole'),
                                yes: function (index, layero) {
                                    var formData = $('#setActionRole').serializeArray();
                                    var datas = new Array();
                                    if (formData.length > 0) {
                                        formData.forEach(function (item) {
                                            datas.push(item.name);
                                        });
                                    }
                                    $.ajax({
                                        url: 'SetActionRole',
                                        type: 'post',
                                        data: { "actionId": data["Id"], "ids": datas },
                                        success: function (data) {
                                            if (data === "OK") {
                                                layer.msg("设置成功");
                                            } else {
                                                layer.msg("设置失败");
                                            }
                                            layer.close(index);
                                        }
                                    });
                                },
                                end: function () {

                                }
                            });
                            break;
                        case "Update":
                            layer.open({
                                title: "更新页面",
                                type: 2,
                                shadeClose: true,
                                shade: false,
                                //                                    maxmin: true, //开启最大化最小化按钮
                                area: ["100%", "100%"],
                                resize: false,
                                content: "AddAction?id=" + data["Id"],
                                end: function () {
                                    renderTable();
                                }
                            });
                            break;
                        default:
                    }
                });

            form.on('switch(del)',
                function (obj) {
                    $.ajax({
                        url: 'DeleteAction',
                        type: 'post',
                        data: { "id": this.value, "isDel": obj.elem.checked },
                        success: function (data) {
                            if (data === "OK") {
                                layer.msg("设置成功");
                            } else {
                                layer.msg("设置失败");
                            }
                        }
                    });
                });

            form.on('switch(menu)',
                function (obj) {
                    $.ajax({
                        url: 'SetMenu',
                        type: 'post',
                        data: { "id": this.value, "isMenu": obj.elem.checked },
                        success: function (data) {
                            if (data === "OK") {
                                layer.msg("设置成功");
                            } else {
                                layer.msg("设置失败");
                            }
                        }
                    });
                });
        });
    </script>
</body>
</html>