@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetRoleAction</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/layui")
    @Scripts.Render("~/bundles/layui")
    <script src="~/Content/layui/layui-xtree.js"></script>
</head>
<body>
    <form class="layui-form">
        <div id="actionTree"></div>
    </form>
    <script>
        layui.use(['form'],
            function () {
                var form = layui.form;
                var xtree = new layuiXtree({
                    elem: 'actionTree',    //(必填) 放置xtree的容器id，不要带#号
                    form: form,     //(必填) layui 的 from
                    data: 'GetActionTree',     //(必填) json数组（数据格式在下面）
                    isopen: false,   //加载完毕后的展开状态，默认值：true
                    ckall: true    //启用全选功能，默认值：false
                });
            });
    </script>
</body>
</html>