@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BackstageLogin</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/layui")
    @Scripts.Render("~/bundles/layui")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Jquery.Session.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <style type="text/css">
        body {
            background: #1d598e;
        }

        .layui-form {
            width: 20%;
            height: 20%;
            margin: 0 auto;
            margin-top: 10%;
            padding: 15px 28px 0px;
            background: #fff;
        }

        .layui-input-block {
            margin-left: 0;
        }

        h1 {
            text-align: center;
            color: #1d598e;
        }
    </style>
</head>
<body>
    @using (Ajax.BeginForm("BackstageLogin", "Login",
        new AjaxOptions() { HttpMethod = "POST", OnSuccess = "AfterSuccess" }, new { @class = "layui-form" }))
    {
        <div class="layui-form-item">
            <h1>实验耗材管理系统后台登录</h1>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="text" name="username" placeholder="请输入账号" autocomplete="off" class="layui-input" autofocus="true" required>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" required>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="validateCode" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input" id="validateCode">
            </div>
            <img id="verify_img" src="@Url.Action("GetValidateCode")" alt="验证码" height="38">
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="checkbox" name="rememberMe" class="layui-input" value="1" lay-skin="primary" id="remember" title="记住密码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" type="submit" id="submit">登 录</button>
            </div>
        </div>
    }
    <script>
        function AfterSuccess(data) {
            var isRemember = $('#remember')[0].checked;
            if (data === "OK") {
                var managerData = {
                    username: $("input [name='username']").val(),
                    password: $("input [name='password']").val()
                }
                if (isRemember) {
                    $.cookie('managerInfo', JSON.stringify(managerData), { expires: 7, path: '/' });
                } else
                    $.cookie('managerInfo', JSON.stringify(managerData), { path: '/' });
                location.href = "../Zero/Index";
            } else {
                if (data === "验证码错误") {
                    $("#verify_img").attr("src", "GetValidateCode?id=" + Math.random());
                }
                layer.msg(data, { icon: 5 });
            }
        }

        layui.use(['layer', 'form'], function () {
            var layer = layui.layer,
                form = layui.form,
                $ = layui.jquery;
            $(document).on('click', "#verify_img", function () {
                $("#verify_img").attr("src", "GetValidateCode?id=" + Math.random());
            });

        });
    </script>
</body>
</html>