@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>登录 - 实验耗材管理平台</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    @Styles.Render("~/assets/css")
</head>

<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="red">实验耗材</span>
                                <span class="white" id="id-text2">管理平台</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; 谷朋朋</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            请输入您的信息
                                        </h4>

                                        <div class="space-6"></div>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Username" id="username" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Password" id="password" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <div class="space"></div>

                                                <div class="clearfix">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace" id="remember" />
                                                        <span class="lbl"> 记住</span>
                                                    </label>

                                                    <button type="button" class="width-35 pull-right btn btn-sm btn-primary" id="btnLogin">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">登录</span>
                                                    </button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar clearfix">
                                        @* <div> *@
                                        @*     <a href="#" data-target="#forgot-box" class="forgot-password-link"> *@
                                        @*         <i class="ace-icon fa fa-arrow-left"></i> *@
                                        @*         忘记密码 *@
                                        @*     </a> *@
                                        @* </div> *@

                                        <div>
                                            <a href="#" data-target="#signup-box" class="user-signup-link">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                注册
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->
                            @* <div id="forgot-box" class="forgot-box widget-box no-border"> *@
                            @*     <div class="widget-body"> *@
                            @*         <div class="widget-main"> *@
                            @*             <h4 class="header red lighter bigger"> *@
                            @*                 <i class="ace-icon fa fa-key"></i> *@
                            @*                 找回密码 *@
                            @*             </h4> *@
                            @* *@
                            @*             <div class="space-6"></div> *@
                            @*             <p> *@
                            @*                 输入您的电子邮件和接收指令 *@
                            @*             </p> *@
                            @* *@
                            @*             <form> *@
                            @*                 <fieldset> *@
                            @*                     <label class="block clearfix"> *@
                            @*                         <span class="block input-icon input-icon-right"> *@
                            @*                             <input type="email" class="form-control" placeholder="Email" /> *@
                            @*                             <i class="ace-icon fa fa-envelope"></i> *@
                            @*                         </span> *@
                            @*                     </label> *@
                            @* *@
                            @*                     <div class="clearfix"> *@
                            @*                         <button type="button" class="width-35 pull-right btn btn-sm btn-danger"> *@
                            @*                             <i class="ace-icon fa fa-lightbulb-o"></i> *@
                            @*                             <span class="bigger-110">发送邮件</span> *@
                            @*                         </button> *@
                            @*                     </div> *@
                            @*                 </fieldset> *@
                            @*             </form> *@
                            @*         </div><!-- /.widget-main --> *@
                            @* *@
                            @*         <div class="toolbar center"> *@
                            @*             <a href="#" data-target="#login-box" class="back-to-login-link"> *@
                            @*                 返回登录 *@
                            @*                 <i class="ace-icon fa fa-arrow-right"></i> *@
                            @*             </a> *@
                            @*         </div> *@
                            @*     </div><!-- /.widget-body --> *@
                            @* </div><!-- /.forgot-box --> *@

                            <div id="signup-box" class="signup-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>
                                            用户注册
                                        </h4>

                                        <div class="space-6"></div>
                                        <p>填写信息: </p>

                                        <form id="RegisterForm">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="教师编号" id="teacherId" name="Teacher_Id" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="教师姓名" id="registerName" name="Teacher_Name" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="教师系别" id="registerDepart" name="Teacher_Depart" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="密码" id="registerPassWord" name="Teacher_Password" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="确认密码" id="registerConfirmPassword" />
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>

                                                <label class="block">
                                                    <input type="checkbox" class="ace" id="isAccept" />
                                                    <span class="lbl">
                                                        接受
                                                        <a href="#">用户协议</a>
                                                    </span>
                                                </label>

                                                <div class="space-24"></div>

                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">重置</span>
                                                    </button>

                                                    <button type="button" class="width-65 pull-right btn btn-sm btn-success" id="btnRegister">
                                                        <span class="bigger-110">注册</span>

                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            返回登录
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->
                        </div><!-- /.position-relative -->

                        <div class="navbar-fixed-top align-right">
                            <br />
                            &nbsp;
                            <a id="btn-login-dark" href="#">Dark</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-blur" href="#">Blur</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a id="btn-login-light" href="#">Light</a>
                            &nbsp; &nbsp; &nbsp;
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    @Scripts.Render("~/assets/js")
    <!-- inline scripts related to this page -->
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });

        //you don't need this, just used for changing background
        jQuery(function ($) {
            toastr.options.positionClass = 'toast-top-center';
            CheckCookie();

            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');

                e.preventDefault();
            });

            //登录
            $('#btnLogin').on('click',
                function (e) {
                    var username = $('#username').val();
                    var password = $('#password').val();
                    var remember = $('#remember')[0].checked;
                    Login(username, password, remember);
                });

            //注册
            $('#btnRegister').on('click',
                function (e) {
                    if (!$('#isAccept').checked) {
                        toastr.error("请先接受用户协议");
                    } else if ($('#teacherId').val() === "") {
                        toastr.error("请输入教师编号");
                    } else if ($('#registerName').val() === "") {
                        toastr.error("请输入教师姓名");
                    } else if ($('#registerDepart').val() === "") {
                        toastr.error("请输入教师系别");
                    } else {
                        var pass = $('#registerPassWord').val();
                        var confirmPass = $("#registerConfirmPassword").val();
                        if (pass !== confirmPass) {
                            toastr.error("两次输入密码不同，请重新核对");
                        } else {
                            $.ajax({
                                url: "BeforeRegister",
                                type: "POST",
                                data: $('#RegisterForm').serialize(),
                                success: function (data) {
                                    if (data === "OK") {
                                        toastr.success("注册成功");
                                        $('.toolbar a[data-target]').click();
                                    }
                                }
                            });
                        }
                    }

                });
        });

        function CheckCookie() {
            var cookie = $.cookie('userInfo');
            if (cookie !== undefined) {
                var userInfo = JSON.parse(cookie);
                Login(userInfo.username, userInfo.password, false);
            }
        }

        function Login(username, password, remember) {
            var ajaxData = { "username": username, "password": password };
            $.ajax({
                url: "BeforeLogin",
                type: "post",
                data: ajaxData,
                success: function (data) {
                    if (data === "OK") {
                        if (remember) {
                            $.cookie('userInfo', JSON.stringify(ajaxData), { expires: 7, path: '/' });
                        } else
                            $.cookie('userInfo', JSON.stringify(ajaxData), { path: '/' });
                        location.href = "../Zero/Index";
                    } else
                        toastr.error(data);
                }
            });
        }
    </script>
</body>
</html>